# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

# Compilación y objetos generados
Debug/
Release/
**/out/build/**
*.ilk
*.idb
*.ipch
*.log
*.tlog

# Visual Studio files
.vs/
*.sln.docstates
*.vcxproj.user
*.vcxproj.filters
*.pidb

# CMake files
**/build/compile_commands.json
cmake-build-*
CMakeFiles
.cmake
Makefile
CMakeCache.txt
cmake_install.cmake
CMakePresets.json

# VSCode Config
.vscode/

# MonoDevelop/Xamarin Studio
*.userprefs

# Build results
[Oo]bj/
[Ll]og/

# NuGet Packages
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# Node.js
node_modules/

# Python Tools
__pycache__/
*.pyc

# Cake
.fake/

# Binarios y logs de MSBuild
*.binlog

# Otros temporales
~$*
*.tmp
*.bak
*.dbmdl
*.publishsettings
*.rptproj.bak